.banner{
    background-color: rgb(128, 128, 128);
    color: white;
    margin-top: 75px;
    text-align: center;
    padding: 100px 0;
}
#small {
    height: 100px;
    width: 100px;

}
#pogs {
    font-size: 100px;
    color: indigo;
}

.bold{
    font-weight:  900;
}